<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>Session 1</td>        <!-- time    -->
        <td>Visualising continuous data</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Break</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>Session 2</td>        <!-- time    -->
        <td>Plotting categorical data</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Session 1</td>        <!-- time    -->
        <td>Customising plots</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>Break</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Session 2</td>        <!-- time    -->
        <td>Pivoting data and putting it all together</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
